body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	height: 100vh;
}


.hero {
	background-color: #1F2937;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	flex: 1;
	text-align: left;
	margin-bottom: 25px;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
	display: flex;
	text-align: right;
}

.hero-main {
	font-size: 48px;
	font-weight: bold;
	color: #F9FAF8;
}

.header-links, .secondary-text {
	font-size: 18px;
	color: #E5E7EB;
}

.header-links {
	list-style-type: none;
	display: flex;
	margin-left: auto;
	gap: 16px;
}

header {
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	padding-right: 50px;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}

button {
	background-color: #3882F6;
	color: #E5E7EB;
	border-radius: 4px;
	font-weight: bold;
	border-style: none;
}

.signup {
	flex: 1;
}

.placeholder {
	flex: 1;
}

.placeholder img {
	height: 500px;
	width: 100%;
}

.placeholder-text {
	align-text: center;
}

.information {
	text-align: center;	
	flex: 1;
}


.random-title {
	font-size: 36px;
	font-weight: bold;
	color: #1F2937;
	padding: 20px;
}

.container {
	display: flex;
	justify-content: space-around;	
}

.card img {
	border-style: solid;
	border-color: #3882F6;
	border-radius: 6px;
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}

.card {
	flex-wrap: wrap;
	gap: 30px;
}

.quote-container {
	background-color: #E5E7EB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote {
        color: #1F2937;
	font-style: italic;
	font-size: 36px;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
	width: 50%;
}


.attribute {
	text-align: right;
	font-style: initial;
	color: black;
}


.call-to-action {
	display: flex;
}

.box {
	background-color: #3882F6;
	
